In [ ]:
import pandas as pd
df = pd.read_csv(r"D:\ML-DL-learns\pandas\heart.csv")

df.iloc[:3, 3]
df.iloc[[0, 1, 2], 0]  #iloc is use for the range based indexing operation

df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
df.loc[0, 'sex'] # the loc is used for label based selection

1

In [19]:
df.set_index("cp")

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
cp,,,,,,,,,,,,,
0,52,1,125,212,0,1,168,0,1.0,2,2,3,0
0,53,1,140,203,1,0,155,1,3.1,0,0,3,0
0,70,1,145,174,0,1,125,1,2.6,0,0,3,0
0,61,1,148,203,0,1,161,0,0.0,2,1,3,0
0,62,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,59,1,140,221,0,1,164,1,0.0,2,0,2,1
0,60,1,125,258,0,0,141,1,2.8,1,1,3,0
0,47,1,110,275,0,0,118,1,1.0,1,1,2,0
0,50,0,110,254,0,0,159,0,0.0,2,0,2,1
0,54,1,120,188,0,1,113,0,1.4,1,1,3,0

In [25]:
df.loc[df.age.isin([50, 71])]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
31,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
34,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
80,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
133,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
199,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
212,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
269,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
285,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
287,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
346,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
351,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
401,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
500,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
536,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
566,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
605,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
615,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
645,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
648,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
696,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
702,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
735,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
769,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
907,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
909,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
910,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
957,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
989,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
992,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1

In [ ]:
df.loc[(df.age == 50) & (df.chol >= 120)]  # conditiional selection using and

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
31,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
34,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
80,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
133,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
199,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
212,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
346,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
351,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
536,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
566,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
615,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
645,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0
696,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
735,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
907,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
909,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
910,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
957,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
992,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1

In [27]:
df.loc[(df.age == 50) | (df.chol >= 120)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
df.notnull()  # to check the missing values

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1021,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1022,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1023,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1024,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
pd.series()
pd.DataFrame()
#1 function use for series of data
# 2 function used for framed data like csv.